
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;

}

h1,h2,h3,h4{
  margin: 0;
}
.container{
  
  grid-template-columns: 1fr;
  transition: all ease-in 1s;
  background-color: rgb(27, 134, 228);
  color: rgb(199, 233, 233);
  padding: 1rem;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  
}
.education-skills-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  margin-left: 60px;
}
hr{
  border: 1px solid black;
  width: 100%;
}
.work-title{
  color: black;
 
}
strong{
  margin-left: 15px;
  color: black;
  margin-bottom: 15px;
}
.main{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
align-items: start;

}
.projects,.skills,.education,.experience{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;

}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}


ul,ol{
  margin: 0;
  
}
p{
  width: fit-content;
  min-width: 200px;
  max-width: 300px;

}
.section-title{
text-decoration: underline;
color: black;

}
